<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Ürün güncelle</h5>
            </div>
            <div class="card-body" >
                <form [formGroup]="productEditForm" > <!-- *ngIf="productAddForm"  -->
                    <div class="mb-3">
                        <label for="productName">Ürün adı</label>
                        <div class="form-group">
                            <input type="text" id="product.productName" formControlName="productName" class="form-control"
                                placeholder="Ürün adı">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="categoryId">Kategori</label>
                        <div class="form-group">
                            <input type="number" id="product.categoryId" formControlName="categoryId" class="form-control"
                                placeholder="Kategori">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="unitsInStock">Stok</label>
                        <div class="form-group">
                            <input type="number" id="product.unitsInStock" formControlName="unitsInStock" class="form-control"
                                placeholder="Stok adedi">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="unitPrice">Birim fiyatı</label>
                        <div class="form-group">
                            <input type="number" id="product.unitPrice" formControlName="unitPrice" class="form-control"
                                placeholder="Ürün fiyatı">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="update()">Düzenle</button>
            </div>
        </div>
    </div>
</div>